body {
 
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* background: linear-gradient(to right, #1abc9c, #3498db, #9b59b6); */
  /* background-color: rgba(231, 76, 60, 0.5); */
  /* background: linear-gradient(to right, #3498db, #e74c3c); */
  /* background-color: #afa8ba; */
  /* background-color: #bbbccf; */
  /* background-color: #d9d9da; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}